absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
clang==5.0
cloudpickle==2.0.0
colorama==0.4.4
filelock==3.4.2
flatbuffers==1.12
frozenlist==1.2.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gym==0.21.0
h5py==3.1.0
idna==3.3
importlib-metadata==4.10.0
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
loguru==0.5.3
Markdown==3.3.6
mpyq==0.2.5
multidict==5.2.0
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
portpicker==1.5.0
protobuf==3.19.1
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.21
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
s2clientprotocol==5.0.8.86383.0
scikit-learn==1.0.2
scipy==1.7.3
six==1.15.0
sklearn==0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.2
win32-setctime==1.0.4
wrapt==1.12.1
yarl==1.7.2
zipp==3.6.0
